body[data-v-126fbd00] {
  margin: 0;
}
#header-div[data-v-126fbd00] {
  border-bottom: solid #0c73b8 2px;
  margin: 20px 20px 0 20px;
}
#header-img-div[data-v-126fbd00] {
  width: 140px;
  height: 155px;
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}
#header-img[data-v-126fbd00] {
  max-width: 100%;
  max-height: 100%;
}
#header-title-div[data-v-126fbd00] {
  display: inline-block;
  font-size: 35px;
  color: #373737;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  vertical-align: middle;
  margin-left: 30px;
  line-height: 60px;
}
#round-div[data-v-126fbd00] {
  width: 100px;
  height: 100px;
  margin: -50px auto 0 auto;
}
#round-img[data-v-126fbd00] {
  max-width: 100%;
  max-height: 100%;
}
#content-div[data-v-126fbd00] {
  margin: 120px auto 0 auto;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(56, 56, 56, 0.38);
  border: 1px solid #373737;
}
#sign-in-title-div[data-v-126fbd00] {
  text-align: center;
  font-size: 25px;
  line-height: 117px;
  color: #373737;
  font-family: "Roboto";
  font-weight: 300;
}
#sign-in-button-div[data-v-126fbd00] {
  margin: 0 auto;
  width: 250px;
  height: 54px;
}
#sign-in-button[data-v-126fbd00] {
  padding: 0px;
  background: url(/images/login-google-blue.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border: 0;
}
#sign-in-button[data-v-126fbd00]:focus {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
#sign-in-button[data-v-126fbd00]:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

